* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: teal;
	width: 100%;
}

main {
	height: 100svh;
	width: 100%;
}

.cc {
	padding: 1em;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;


	&>div:nth-child(1 of div) {
		background-color: red;
	}
}

.aside {
	max-width: 250px;
	height: 100%;
	background-color: black;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-flow: row;


	.view {

		background-color: azure;

	}

	div:nth-child(2 of div){
		background-color: aqua;
	}
	.tableCont {

		display: flex;
		flex-flow: column;

	}
}

.addForm {
	background-color: rgb(11, 153, 153);

	display: flex;
	flex-flow: column;

}

.stopwatch {
	display: flex;
	flex-flow: column;
	min-width: 200px;
	max-width: 250px;


	.time {
		display: flex;
		justify-content: center;
		align-content: baseline;


		background-color: aquamarine;

		input {
			width: 30%;
			flex: 1 1;
			border: none;
			background: transparent;
		}

		input,
		p {
			text-align: center;
			margin: auto 0;
			font-size: 3em;
		}

		p {
			padding-bottom: 2%;
		}




	}

	div {
		display: flex;
		flex-flow: row nowrap;

		button {
			flex: 1 1;
		}
	}

	.no-spin::-webkit-inner-spin-button,
	.no-spin::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
		/* Removes the margin */
	}
}





table {
	    border-collapse: collapse;
	
	
	border: 1px solid black;

	th {
		text-align: center;
	}

	th,
	td {
		padding: .5em;
	}

	tr{
		border: 1px solid black;
	}

	thead {}

	tbody {


		tr td:nth-child(1 of td) {
			text-align: center;
			
		}

		tr:hover {
			background-color: blue;
			cursor: pointer;
		}
	}

}