* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: rgb(176, 176, 176);
}

body {
	background-color: hsl(193, 98%, 18%);
	width: 100%;
}

main {
	height: 100svh;
	width: 100%;
	/* overflow: hidden; */
}

.cc {
	padding: .2em;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.content {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-flow: row;
	gap: 1.2rem;


	div:nth-child(1 of div) {
		flex: 1 1;
		margin: auto 0;
	}

	>div:nth-child(2 of div) {
		display: flex;
		flex-flow: column;
		height: 100%;
		overflow: hidden;
		flex: 4 1;
		overflow-y: scroll;
		gap: 1rem;

		>div:nth-child(1 of div) {
			flex: 0 1;
			display: flex;
			flex-flow: column;
		}

		form {
			display: flex;
			flex-flow: row;
		}

		>div:nth-child(1 of div) {

			flex: 6 1;
			display: flex;
			flex-flow: column;
			/* overflow: hidden; */




		}
	}


}

.addForm {
	display: flex;
	flex-flow: column;

}

.stopwatch {
	display: flex;
	flex-flow: column;
	min-width: 200px;
	padding: .2em;

	div {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;


		button {
			flex: 1 1;
		}

		button:nth-child(1 of button) {
			background-color: black;
		}

		button:nth-child(2 of button) {
			background-color: black;
		}
	}
}

.time {
	display: flex;
	justify-content: center;
	align-content: baseline;

	input {
		width: 30%;
		flex: 1 1;
		border: none;
		background: transparent;
	}

	input,
	p {
		text-align: center;
		margin: auto 0;
		font-size: 1.7em;
	}

	p {
		padding-bottom: 2%;
	}


	.no-spin::-webkit-inner-spin-button,
	.no-spin::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
		/* Removes the margin */
	}
}

#logInfoContainer {
	display: flex;
	flex-flow: column;
	border-top: 2px solid black;

	form {

		display: flex;
		flex-flow: column;
		gap: .3rem
	}

	.time {
		min-width: 200px;

		input,
		p {
			font-size: 1.5rem;
		}

		input {
			background-color: transparent;
		}

	}

	button:nth-child(1 of button) {
		margin-bottom: .3rem;
	}
}

#search {
	display: flex;
	width: 100%;

	input {
		padding: .5rem;
		border: none;
	}

	button {
		border: none;
	}
}

.tableCont {

	table,
	tr {
		border: 2px solid black;
	}

	.active {
		background-color: hsla(0, 0%, 0%, 0.302);
	}

	table {
		border-collapse: collapse;
		text-align: center;

		th {
			text-align: center;
		}

		th,
		td {
			padding: .5em;
		}

		tbody {



			tr:hover {
				background-color: blue;
				cursor: pointer;
			}
		}

	}
}