

table{
    --_border: 1px solid black;
    border-collapse: collapse;

    border: var(--_border);
    width: 100%;

    thead tr{
        background-color: black;
        color: white;
    }

    tr{
        border: 1px solid black;
        
    }

    th,td{
        text-align: center;
        padding: .4rem;
    }
}